body {
  background-color: #DEF5E5;
}

hr {
  border-style: none;
  border-top-style: dotted;
  border-color: grey;
  border-width: 5px;
  width: 10%;
}
h1{
  color: #256D85;
}

h3{
  color: #256D85;
}

